.btn {
    min-width: 100px;
    min-height: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    text-align: center;
    padding: 5px;
    border: 1px solid var(--var-pink-color);
    color: #453e3f;

}

.btn:hover {
 background-color: var(--var-pink-color);
 transform: background-color;
}

body.light-theme .btn {
    border: 1px solid var(--var-pink-color);
    color: #453e3f;
}


body.light-theme .templateBtn {
    border-color:var(--var-light-theme-template-color);
    color:var(--var-light-theme-template-color);
}

