.btn {
    min-width: 150px;
    min-height: 40px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
 background-color: lightblue;
}

