.btn {
    min-width: 100px;
    min-height: 30px;
    background-color: white;
    border-radius: 5px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
    text-align: center;
    padding: 5px;
    border: 1px solid #ff7995;
    color: #453e3f;

}

.btn:hover {
 background-color: #ff7995;
 transform: background-color;
}

body.light-theme .btn {
    border: 1px solid #ff7995;
    color: #453e3f;
}


body.light-theme .templateBtn {
    border-color: #453e3f;
    color: #453e3f;
}

