
.puzzle {
    display: grid;
    grid-template-columns: minmax(5%, auto)  minmax(50%, 1fr);
    grid-template-rows: minmax(5%, auto)  minmax(50%, 1fr);
    grid-template-areas: 
    ". upperHints  "     
    "sideHints gameField"; 
    height:auto;
    min-width: 300px;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
    gap: 2px;
    border: 2px solid var(--var-theme);
}

.gameContainer {
    padding-bottom: 20px;
}

body.light-theme .puzzle {
    border: 2px solid  var(--var-light-theme-puzzle-border-color);

}

.game-field {
    display: flex;
    grid-area: gameField;
    gap: 0.5px;
    max-width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.5px;
    max-width: 100%;
    flex-shrink: 1;
}

.grid-cell, .empty {
    background-color: var(--var-theme);
    cursor: pointer;
}


body.light-theme  .grid-cell{
    border: 0.5px solid var(--var-hints-light-theme-background-color);

}

body.light-theme .grid-cell.empty {
    background-color: var(--var-light-theme-field-color);

}

body.light-theme .grid-cell.filled {
    background-color:var(--var-green-cells-color);
}

body.dark-theme .grid-cell.filled {
    background-color: black;
    border: 0.5px solid white;
}

body.dark-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center, white;
    background-size: contain;

}

body.light-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center, var(--var-light-theme-field-color);
    background-size: contain;
}

.grid-cell, .hint {
    width: 50px;
    height: 50px;
    flex: 1 1 50px;

}

.hint{
    background-color: var(--var-theme);
    flex: 1 1 50px;
}

.upper-hints .hint {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: auto;
}

body.light-theme .hint {
    background-color: var(--var-hints-light-theme-background-color);
    color:var(--var-hints-light-theme-color);
}

.upper-hints {
    grid-area: upperHints;
    display: flex;
    text-align: center;
    column-gap: 0.5px;
    flex-grow: 1;
    justify-content: space-evenly;
  
}

body.dark-theme .upper-hints, body.dark-theme .side-hints {
    color:black
}

.side-hints {
    grid-area: sideHints;
    display: flex;
    text-align: right;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 0.5px;
}

.side-hints .hint {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
}

body.dark-theme .row:nth-child(5n + 5), div.side-hints div.hint:nth-child(5n) {
    border-bottom: 2px solid black;
}

body.dark-theme .row:last-child, div.side-hints div.hint:last-child {
    border-bottom: none;
}


body.dark-theme  .upper-hints .hint:nth-child(5n), div.grid-cell:nth-child(5n) {
    border-right: 2px solid black;
}

body.light-theme .row:nth-child(5n + 5), .side-hints div.hint:nth-child(5n) {
    border-bottom: 2px solid var(--var-light-theme-puzzle-border-color);
}

body.light-theme .row:last-child, div.side-hints div.hint:last-child {
    border-bottom: none;
}

body.light-theme  .upper-hints div.hint:nth-child(5n), div.grid-cell:nth-child(5n) {
    border-right: 2px solid var(--var-light-theme-puzzle-border-color);
}

body.dark-theme  .upper-hints .hint:nth-child(5n), div.grid-cell:nth-child(5n) {
    border-right: 2px solid black;
}

body.dark-theme  .upper-hints .hint:last-child, div.grid-cell:last-child {
    border-right: none;
}

body.light-theme .row:last-child, .side-hints div.hint:nth-child(5n) {
    border-bottom: none;
}

body.light-theme  .upper-hints div.hint:last-child, div.grid-cell:last-child {
    border-right: none;
}