
.puzzle {
    display: grid;
    grid-template-columns: minmax(10%, auto)  minmax(50%, 1fr);
    grid-template-rows: minmax(10%, auto)  minmax(50%, 1fr);
    grid-template-areas: 
    ". upperHints  "     
    "sideHints gameField"; 
    height:auto;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 2px;
    border: 2px solid var(--var-theme);
    padding: 4px;
}

.gameContainer {
    padding-bottom: 20px;
}

body.light-theme .puzzle {
    border: 2px solid  var(--var-light-theme-puzzle-border-color);

}

.hint{
    background-color: var(--var-theme);
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px;
}

.hint div {
    min-width: 6px;
}

.upper-hints .hint {
    flex-direction: column;
    justify-content: end;
}

body.light-theme .hint {
    background-color: var(--var-hints-light-theme-background-color);
    color:var(--var-hints-light-theme-color);
}

.game-field {
    display: flex;
    max-width: 100%;
    height: 100%;
    grid-area: gameField;
    gap: 1px;
    flex-direction: column;
    justify-content: stretch;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1px;
    flex-shrink: 1;
    
}

.upper-hints {
    grid-area: upperHints;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    column-gap: 0.5px;
  
}

body.dark-theme .upper-hints, body.dark-theme .side-hints {
    color:black
}

.side-hints {
    grid-area: sideHints;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    text-align: right;
    row-gap: 0.5px;
}

.side-hints .hint {
    justify-content: space-evenly;
}

.grid-cell, .empty {
    background-color: var(--var-theme);
    cursor: pointer;
}

body.dark-theme  .grid-cell {
    border: 0.5px solid white;

}

body.light-theme  .grid-cell{
    border: 0.5px solid var(--var-hints-light-theme-background-color);

}

body.light-theme .grid-cell.empty {
    background-color: var(--var-light-theme-field-color);

}

body.light-theme .grid-cell.filled {
    background-color:var(--var-green-cells-color);
}

body.dark-theme .grid-cell.filled {
    background-color: black;
}

body.dark-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center, white;
    background-size: contain;

}

body.light-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center, var(--var-light-theme-field-color);
    background-size: contain;
}

.grid-cell {
    flex-grow: 1;
    flex-shrink: 1;
    width: 80px;
    height: 80px;
    flex-basis: 80px;
}
