:root {
    --var-theme: white;
    
}

.puzzle {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
    ". upperHints"     
    "sideHints gameField"; 
    max-width: 500px;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    gap: 2px;
    border: 2px solid var(--var-theme);
    padding: 4px;
}

body.light-theme .puzzle {
    border: 2px solid #785e2b;

}

.hints {
    min-width: 20px;
    min-height: 20px;
}

.hint{
    background-color: var(--var-theme);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.light-theme .hint {
    background-color: #d7854b;
    color: #e6de34;
}

.game-field {
    display: grid;
    max-width: 500px;
    width: 100%;
    height: 100%;
    grid-area: gameField;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1px;
}

.upper-hints {
    grid-area: upperHints;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
    column-gap: 0.5px;
  
}

body.dark-theme .upper-hints, body.dark-theme .side-hints {
    color:black
}

body.light-theme .upper-hints, body.light-theme .side-hints {
    background-color:#e6de34;

}



.side-hints {
    grid-area: sideHints;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5,1fr);
    text-align: right;
    row-gap: 0.5px;
}

.grid-cell, .empty {
    background-color: var(--var-theme);
    cursor: pointer;
}

body.dark-theme  .grid-cell{
    border: 0.5px solid white;

}

body.light-theme  .grid-cell{
    border: 0.5px solid black;

}

body.light-theme {
    --var-theme: #ff7995;;
}

body.dark-theme {
    --var-theme: white;
}

body.dark-theme .grid-cell.empty {
    background-color: var(--var-theme)
}

body.light-theme .grid-cell.empty {
    background-color: #f2cb9b;

}

body.light-theme .grid-cell.filled {
    background-color:#104b4b;
}

body.dark-theme .grid-cell.filled {
    background-color: black;
}

body.dark-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center, white;
    background-size: contain;

}

body.light-theme .grid-cell.crossed {
    background: url(../icons/cross.png) no-repeat center center,#f2cb9b;
    background-size: contain;
}