
.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 10px 45px;
    border-bottom: 3px solid var(--var-pink-color) ;
    
}


body.light-theme .logo {
    color: var(--var-pink-dark-theme-color);
}

body.dark-theme .header {
    border-bottom: 3px solid var(--var-theme) ;

}