.level-wrapper-block {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    font-size: 25px;
    align-items: center;
}

.level-label {
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;

}

.level-label:hover, .level-label:has(input:checked)    {
    border: 1px solid var(--var-pink-dark-theme-color);
    border-radius: 50%;
}

.labels-block {
    display: flex;
    gap: 5px;
}

.level-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.level-label.easy {
    background: url('../icons/light-easy-level.png') center center / contain no-repeat;
}

.level-label.medium {
    background: url('../icons/light-medium-level.png') center center / contain no-repeat;
}

.level-label.hard {
    background: url('../icons/light-hard-level.png') center center / contain no-repeat;
}