.overlay {
    width: 100vw;
    height: 100%;
    display: none;
    background-color: rgba(255, 255, 255, 50%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

}

body {
    position: relative;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    max-width: 200px;
    padding: 30px;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
     background-color: white;
     border: 2px solid black;
    z-index: 1000;
    color: black;
    border-radius: 15px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: url(../icons/cross.png) no-repeat center center/cover;
    cursor: pointer;
}

