.information-pop-up {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 35px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 25px;
    background-color: var(--var-pink-color);
    color: var(--var-green-cells-color);
    z-index: 10000;
    transform: translate(-50%,-50%);
    opacity: 0.5;
}