.sound-input {
    display: block;
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}

.sound-label {
    position: relative;
    text-align: center;
    min-width: 100px;
    min-height: 40px;
    border: 1px solid var(--var-pink-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
