@import 'theme.css';
@import 'btn.css';
@import 'header.css';
@import 'gameField.css';
@import 'modal.css';
@import 'sound.css';
@import 'templates.css';
@import 'logo.css';
@import 'timeBlock.css';
@import 'root.css';


body {
    overflow: auto;
}
