.template-wrapper, .simple, .medium, .hard {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 8px;
    min-height: 50px;
}

.game-name-block {
    text-align: center;
    text-transform: uppercase;

}

body.light-theme .game-name-block {
    color: var(--var-light-theme-template-color);
}

h1 {
    font-size: 1.5em;
}