.template-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px 8px;
}

.game-name-block {
    text-align: center;
}

body.light-theme .game-name-block {
    color: var(--var-light-theme-template-color);
}