:root {
    --var-white-color: white;
    --var-black-color: black;
}

body.dark-theme {
    background-color: var(--var-black-color);
    color: var(--var-white-color);
}

body.light-theme {
    background-color: var(--var-white-color);
    color: var(--var-black-color);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--var-white-color);
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch:after {
    position: absolute;
    content: "Dark";
    font-size: 20px;
    left: 65px;
    top: 8px;
    color: var(--var-white-color);
  }
  
  .light:after {
    position: absolute;
    content: "Light";
    font-size: 20px;
    display: block;
    left: 65px;
    top: 8px;
    color: var(--var-black-color);
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


  @media screen and (max-width: 868px) {
    .switch:after {

      content: "";

    }
    
    .light:after {

      content: "";

    }
  }