.winner-table {
    width: 50px;
    height: 50px;
    background: url('../icons/squid-game-piggy-bank.png') center center / contain no-repeat;
    cursor:pointer;
}


.winner-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:repeat(4, 1fr);

}



.winners-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    max-width: fit-content;
}
