:root {
    --Primary: rgba(255, 70, 70, 1);
    --Dark: rgba(24, 28, 41, 1);
    --Static-White-40: rgba(255, 255, 255, 0.4);
    --Content-Background: rgba(236, 243, 248, 1);
    --Tag-Purple: rgba(67, 97, 255, 1);
    --Tag-Pink: rgba(255, 67, 247, 1);
    --Tag-Green: rgba(6, 164, 79, 1);
    --Static-White: rgba(255, 255, 255, 1);
    --Primary-10: rgba(255, 70, 70, 0.1);


  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color:black;
}

.container {
    max-width: 1440px; 
    margin: 0 auto; 
}

main {
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
  }
  
  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }  
  body.modal-open {
    overflow: hidden;
  }
  

.headline {
    background-image: url(../images/bg-garland.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    padding: 60px 0 0 0;

}

h1 {
    font-family: Montserrat;
    font-size:32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 12px;
    max-width: 426px;
    margin: 0 auto;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing:  1.4px;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 82px;
}

.logo_image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.logo_slogan {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  0.5px;
    text-transform: uppercase;
    color: var(--Dark);
}


nav ul li {
    flex-basis: 1;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

nav ul li.gifts-disabled-menu-item {
    pointer-events: none;
    background-color: rgba(255, 70, 70, 0.1);
    color:var(--Primary);
    border-radius: 12px;
}

nav ul li.gifts-disabled-menu-item a {
    color:var(--Primary);
}


.gifts {
    padding: 60px 82px;
}

.gifts {
    background-color: white;
    padding: 60px 82px;
}

.gifts_items {
    display: flex;
    column-gap: 12px;
    max-width: 1276px;
    justify-content: center;
}

.gift_item {
    flex-direction: column;
    background-color: var(--Content-Background);
    flex-basis: 33%;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: var(--Dark);
}

.gift_item img {
    display: block;
    margin: 0 auto;
}

.gift_item a, .gift_item_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
}

.gift_invite {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
}

.btn a {
    display: block;
}

footer {
    background-color: white;
    text-align: center;
    padding-bottom: 60px;
}

.footer_caption {
    color: var(--Dark);
    margin-top: 12px;
    display: block;
}


.socials {
    width: 196px;
    display: flex;
    margin: 0 auto;
    column-gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.socials a {
    width: 40px;
    height: 40px;
}

.socials a svg {
    fill: none;
}


.caption.hero_caption {
    margin-top: 12px;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
    margin-top: 5px;
}

.caption.footer_caption {
    color: var(--Dark);
}


.cards_container {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 82px 60px 82px;
    justify-content: center;
}

.card {
    background-color:var(--Content-Background);
    width: 310px;
    height: 342px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    cursor: pointer;
    color: var(--Dark);
    text-transform: uppercase;
}


.img_container {
    width: 310px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.img_container img {
    width: 310px;
    height: 230px;
}

.card_text {
    border-radius: 20px;
    background-color: white;
    flex-grow: 1;
    padding: 20px 0 0 20px;
}

.work {
    color: var(--Tag-Purple)
}

.health {
    color: var(--Tag-Green);
}

.harmony {
    color: var(--Tag-Pink);
}

h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
}

h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
}

.card_desc {
    margin-top: 8px;
}

.tabs {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    max-width: 29.625em;
    gap: 4.8px;
}


.tab {
    flex-basis: 1;
    border-radius: 12px;
}

.tab a {
    display: block;
    padding: 12px 20px;
    color: var(--Static-White);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 12px;
}

div.tab.disable {
    border-radius: 12px;
    background-color:  rgba(255, 255, 255, 0.1);
}


.tab.disable {
    background-color: transparent;
    pointer-events: none;
}


.scrollToTopBtn {
    display: none;
}

.superpowers {
    display: flex;
}

.star {
    display: flex;
}

.star svg {
    opacity: 0.1;
}

@media (hover: hover) and (pointer: fine) {

    .gift_item {
        transition: all 0.5s;
    }
    
    .socials a svg path {
        transition: all 0.5s;
    }
    

    .caption.footer_caption {
        transition: all 0.5s;
    }

    .card_desc {
        transition: all 0.5s;
    }

    .tab {
        transition: all 0.5s;
    }

    .tab a {
        transition: all 0.5s;
    }
    

    nav ul li a {
        transition: all 0.5s;
    }
    
    .gift_item a, .gift_item_text {
        transition: all 0.5s;
    }
    
    .gift_invite {
        transition: all 0.5s;
    }

    .btn:hover  {
        background-color:white;
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    .btn:hover a {
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    nav ul li a:hover {
        background-color: rgba(255, 70, 70, 0.1);
        color: rgba(255, 70, 70, 1);
        transition: all 0.5s;
    }

    .gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .card:hover .card_desc {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .socials a:hover svg path {
        stroke:  var(--Primary);
        transition: all 0.5s;
    }
    
    .caption.footer_caption:hover {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .tab:hover {
        background-color:  rgba(255, 255, 255, 0.1);
        transition: all 0.5s;
    }

}

@media (max-width: 1080px) {
    .gifts_items {
        flex-direction: column;
        gap: 12px;
    }

    .gift_item {
        flex-basis: 100%;
    }

    .gifts {
        padding-inline: 1.04vw;
    }

}

    


@media (max-width: 998px) {
   .header , .gifts  {
      padding-inline: 1.04vw;
    }

    .cards_container {
        padding-inline: 30px;
    }

    .slider, .best_gifts {
        padding-top: 60px;
    }
    .about_block_text {
        padding-inline: clamp(20px, 60px, 152px);
        padding-block: clamp(20px, 46px, 100px);
    }
  }


  @media (max-width: 768px) {

    .scrollToTopBtn {
        width: 56px;
        height: 56px;
        display: block;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: var(--Static-White);
        color: var(--Primary);
        border: none;
        border-radius: 50%;
        padding: 15px;
        font-size: 18px;
        cursor: pointer;
        z-index: 1000;
        transition: opacity 0.3s;
        border: 1px solid var(--Primary);
    }
    

    .active .menu_divider:first-child {
        top: 50%;
        transform: rotate(45deg)  translate(0,50%);
        transition: all linear 250ms;
        margin-top: 2px;
        border: 1px;

    }

    .active .menu_divider:last-child {
        top: 50%;
        transform: rotate(-45deg)  translate(0, -50%);
        transition: all linear 250ms;
        margin-top: -1px;
        border: 1px;
    }

    body.overflow {
        overflow: hidden;
    }

    header {
        position: relative;
    }

    nav {
        position: fixed;
        right: 0;
        top: 55px;
        background-color: white;
        transition: all ease-out 0.4s;
        opacity: 1;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        align-items:center;
        justify-content: center;
        gap: 8px;
    }

    nav ul li a {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 36.48px;
        letter-spacing: 0.16em;
    }



    nav.hidden {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 55px;
        right: -100%;
        transition: all ease-out 0.4s;
        opacity: 0;
    }

    .headline {
        padding: 60px 8px 0;
    }

    h1 {
        letter-spacing: 6px;

    }

    .tabs {
        padding-inline: 5px;
    }

    header {
        padding-inline: 8px;
    }


    .gifts_items {
        flex-direction: column;
        gap: 12px;
    }

    .gift_items {
        flex-basis: 100%;
    }

    .socials {
        margin-top: 5px;
    }

    .menu_burger {
        display: block;
        width: 40px;
        height: 40px;
        padding: 15px 10px;
        cursor: pointer;
    }

    .menu_divider {
        background-color: var(--Dark);
        width: 20px;
        height: 2px;
        transition: all linear 250ms;
    }

    .menu_divider:last-child {
        margin-top: 6px;
    }

    .cards_container {
        padding-inline: 8px;
    }

  }


  @media (max-width:460px) {
    .tab a {
        padding: 12px 8px;
    }

    .tabs {
        gap: 0;
    }
  }







