:root {
    --Primary: rgba(255, 70, 70, 1);
    --Dark: rgba(24, 28, 41, 1);
    --Static-White-40: rgba(255, 255, 255, 0.4);
    --Content-Background: rgba(236, 243, 248, 1);
    --Tag-Purple: rgba(67, 97, 255, 1);
    --Tag-Pink: rgba(255, 67, 247, 1);
    --Tag-Green: rgba(6, 164, 79, 1);
    --Static-White: rgba(255, 255, 255, 1);
    --Primary-10: rgba(255, 70, 70, 0.1);


  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color:black;
}

.container {
    max-width: 1440px; 
    margin: 0 auto; 
}

main {
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

.headline {
    background: url(../images/bg-garland.png) center center/cover no-repeat;
    padding: 60px 0 0 0;

}

h1 {
    font-family: Montserrat;
    font-size:32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 12px;
    width: 426px;
    margin: 0 auto;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing:  1.4px;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 82px;
}

.logo_image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.logo_slogan {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: var(--Dark);
}


nav ul li {
    flex-basis: 1;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    transition: all 0.5s;
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

nav ul li.gifts-disabled-menu-item {
    pointer-events: none;
    background-color: rgba(255, 70, 70, 0.1);
    color:var(--Primary);
    border-radius: 12px;
}

nav ul li.gifts-disabled-menu-item a {
    color:var(--Primary);
}


.gifts {
    padding: 60px 82px;
}

.gifts {
    background-color: white;
    padding: 60px 82px;
}

.gifts_items {
    display: flex;
    column-gap: 12px;
    max-width: 1276px;
    justify-content: center;
}

.gift_item {
    flex-direction: column;
    background-color: var(--Content-Background);
    flex-basis: 33%;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: var(--Dark);
    transition: all 0.5s;
}

.gift_item img {
    display: block;
    margin: 0 auto;
}

.gift_item a, .gift_item_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 12px;
    transition: all 0.5s;
    text-transform: uppercase;
}

.gift_invite {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn a {
    display: block;
}

footer {
    background-color: white;
    text-align: center;
    padding-bottom: 60px;
}

.footer_caption {
    color: var(--Dark);
    margin-top: 12px;
    display: block;
}


.socials {
    width: 196px;
    display: flex;
    margin: 0 auto;
    column-gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.socials a {
    width: 40px;
    height: 40px;
}

.socials a svg path {
    transition: all 0.5s;
}

.socials a svg {
    fill: none;
}


.caption.hero_caption {
    margin-top: 12px;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
    margin-top: 5px;
}

.caption.footer_caption {
    color: var(--Dark);
    transition: all 0.5s;
}


.cards_container {
    display: flex;
    gap: 12px;
    margin: 0 auto;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 82px 60px 82px;
    justify-content: center;
}

.card {
    background-color:var(--Content-Background);
    width: 310px;
    height: 342px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    cursor: pointer;
    color: var(--Dark);
    text-transform: uppercase;
}


.img_container {
    width: 310px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.img_container img {
    width: 310px;
    height: 230px;
}

.card_text {
    border-radius: 20px;
    background-color: white;
    flex-grow: 1;
    padding: 20px 0 0 20px;
}

.work {
    color: var(--Tag-Purple)
}

.health {
    color: var(--Tag-Green);
}

.harmony {
    color: var(--Tag-Pink);
}

h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
}

h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
}

.card_desc {
    margin-top: 8px;
    transition: all 0.5s;
}

.tabs {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    width: 464px;
    gap: 4.8px;
}


.tab {
    flex-basis: 1;
    border-radius: 12px;
    transition: all 0.5s;
}

.tab a {
    display: block;
    padding: 12px 20px;
    color: var(--Static-White);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 12px;
    transition: all 0.5s;
}

div.tab.disable {
    border-radius: 12px;
    background-color:  rgba(255, 255, 255, 0.1);
}


.tab.disable {
    background-color: transparent;
    pointer-events: none;
}



@media (hover: hover) {

    .btn:hover  {
        background-color:white;
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    .btn:hover a {
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    nav ul li a:hover {
        background-color: rgba(255, 70, 70, 0.1);
        color: rgba(255, 70, 70, 1);
        transition: all 0.5s;
    }

    .gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .card:hover .card_desc {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .socials a:hover svg path {
        stroke:  var(--Primary);
        transition: all 0.5s;
    }
    
    .caption.footer_caption:hover {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .tab:hover {
        background-color:  rgba(255, 255, 255, 0.1);
        transition: all 0.5s;
    }

}