:root {
    --Primary: rgba(255, 70, 70, 1);
    --Dark: rgba(24, 28, 41, 1);
    --Static-White-40: rgba(255, 255, 255, 0.4);
    --Content-Background: rgba(236, 243, 248, 1);
    --Tag-Purple: rgba(67, 97, 255, 1);
    --Tag-Pink: rgba(255, 67, 247, 1);
    --Tag-Green: rgba(6, 164, 79, 1);
    --Static-White: rgba(255, 255, 255, 1);


  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color:black;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1440px; 
    margin: 0 auto; 
}

main {
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

h1 {
    font-family: Montserrat;
    font-size:32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 12px;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing:  1.4px;
    color: white;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 82px;
}

nav {
    display: flex;
}

.logo_image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    padding:8px 20px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo_slogan {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}


nav ul li {
    list-style-type: none;
    flex-basis: 1;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    transition: all 0.5s;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav ul li a:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: rgba(255, 70, 70, 1);
    transition: all 0.5s;
}

.gifts {
    padding: 60px 82px;
}

.gifts {
    background-color: white;
    padding: 60px 82px;
}

.gifts_items {
    display: flex;
    column-gap: 12px;
    max-width: 1276px;
}

.gift_item {
    background-color: var(--Content-Background);
    flex: 1;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: var(--Dark);
    transition: all 0.5s;
}

.gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
    color: var(--Primary);
    transition: all 0.5s;
}

.gift_item img {
    display: block;
    margin: 0 auto;
}

.gift_item a, .gift_item_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 12px;
    transition: all 0.5s;
    text-transform: uppercase;
}

.gift_invite {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn a {
    display: block;
}

footer {
    background-color: white;
    text-align: center;
    padding-bottom: 60px;
}

.footer_caption {
    color: var(--Dark);
    margin-top: 12px;
    display: block;
}


.socials {
    width: 196px;
    display: flex;
    margin: 0 auto;
    column-gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.socials a {
    width: 40px;
    height: 40px;
}

.caption.hero_caption {
    margin-top: 12px;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}