:root {
    --Primary: rgba(255, 70, 70, 1);
    --Dark: rgba(24, 28, 41, 1);
    --Static-White-40: rgba(255, 255, 255, 0.4);
    --Content-Background: rgba(236, 243, 248, 1);
    --Tag-Purple: rgba(67, 97, 255, 1);
    --Tag-Pink: rgba(255, 67, 247, 1);
    --Tag-Green: rgba(6, 164, 79, 1);
    --Static-White: rgba(255, 255, 255, 1);
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    overflow: hidden;
  }
  
  .modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
  }
  
  .modal_close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }  
  body.modal-open {
    overflow: hidden;
  }

.card.modal_card_container {
    width: 100%;
    max-width: 400px;

}

.modal_card_container .img_container {
    margin: 0 auto;
}

.superpowers {
    display: flex;
    gap: 12px;
    margin-top: 20px;
    justify-content: space-between;
}

.modal_name {
    margin-top: 8px;
}

.powers {
    text-align: left;
    flex-basis: 33.9%;
}

.power_item {
    padding-block: 4px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-transform: capitalize;
}

.points {
    text-align: right;
    flex-basis: 33.9%;
}

.point {
    padding-block: 4px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
}

.stars {
    flex-basis: 33.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.star {
    display: flex;
    justify-content: start;
    padding-block: 4px;
    align-items:center;
    gap: 8px;
}

.star svg {
    opacity: 0.1;
}

.modal_content .card_text {
    padding: 20px;
}

.modal_card_desc {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    text-transform: none;
    margin-top: 8px;
}

.superpowers_title {
    margin-top: 20px;
}


  .slider_carousel {
    position: relative;
    right: 0;
    transition: all ease-in-out 0.5s;
}

a {
    text-decoration: none;
    color:black;
}


.container {
    width: 100%;
    max-width: 1440px; 
    margin: 0 auto; 
}

main {
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

.hero {
    background: url(images/bg-snow.png) center center/cover no-repeat,
     url(images/bg-ball.png) center center/cover no-repeat;
     padding: 60px 0;
}

.hero_text {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 426px;
}

h1 {
    font-family: Montserrat;
    font-size:32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 12px;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing:  1.4px;
    color: white;
    text-align: center;
}

.btn {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    opacity: 0px;
    background-color: rgba(24, 28, 41, 1);
    outline: none;
    border: none;
    color: white;
    margin: 0 auto;
    margin-top: 12px;
    display: block;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

a.btn {
    
    color: white;
    transition: all 1s;
    display: block;
    padding: 20px 32px;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 5.69vw;
}

.logo_image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    padding: 8px 20px;
    cursor: pointer;
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.logo_slogan {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  0.5px;
    text-transform: uppercase;
    color: var(--Dark);
}


nav ul li {
    flex-basis: 1;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}

nav ul {
    display: flex;
    align-items: center;
    column-gap: 12px;
}

.about {
    padding: 60px 5.69vw;
    background: url(images/bg-snow.png) center center/cover no-repeat;
}

.about_caption {
    color: var(--Primary);
    text-align: left;
}

.about_block {
    background-color: white;
    display: flex;
    justify-content: stretch;
    border-radius: 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.about_block_text {
    padding: 100px clamp(152px, 60px,20px) 100px 60px;
    flex-basis: 50%;
}

.about_block_text_content {
    padding: 60px 0;
    max-width: 426px;
}

.about_block_paragraph {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    margin-top: 20px;
    color: var(--Dark)
}

.about_h2 {
    margin-top: 20px;
    letter-spacing: 4px;
    line-height: 36.48px;
}

h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing:  16%;
    text-transform: uppercase;
    color: var(--Dark)
}

 .about_santa_img img {
    object-fit: cover;
    border-radius: 20px;
    width: 100%; 
    height: 100%;
}

.about_santa_img {
    min-width: 354px;
    flex-basis: 50%;
}

.slider {
    padding: 55px 82px 60px 82px;
    overflow: hidden;
    background: url(images/bg-snow.png) center center/cover no-repeat;
}
.slider_title {
    color: white;
    text-align: center;
    margin-top: 12px;
    letter-spacing: 4px;
}

.slider_item {
    flex-shrink: 0;

}

.slider_item img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.slider_carousel {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    column-gap: 20px;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    color: white;
    transition: right ease-in-out 0.5s;
}

.slider_navigation {
    display: flex;
    justify-content: end;
    gap: 20px;

}

.slider_arrow {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
}

div.slider_item_text {
    padding: 27px 0 51px 0;
    line-height: 97px;
}

.slider_arrow svg path {
    stroke: var(--Static-White);
}


  div.slider_arrow.disable svg path {
    stroke: var(--Static-White-40);
  }

  div.slider_arrow.disable {
    pointer-events: none;
    border-color: var(--Static-White-40);
  }


.best_gifts {
    padding: 60px 82px;
    background: url(images/bg-snow.png) center center/cover no-repeat;
}

.best_gifts_title {
    text-align: center;
    margin-top: 12px;
    color: white;
    letter-spacing: 4px;
}

.cards_container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 20px;
    justify-content: center;
}

.card {
    background-color:var(--Content-Background);
    width: 310px;
    height: 342px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    cursor: pointer;
    color: var(--Dark);
    text-transform: uppercase;
}

.img_container {
    width: 310px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.img_container img {
    width: 310px;
    height: 230px;
}

.card_text {
    border-radius: 20px;
    background-color: white;
    flex-grow: 1;
    padding: 20px 0 0 20px;
}

.work {
    color: var(--Tag-Purple)
}

.health {
    color: var(--Tag-Green);
}

.harmony {
    color: var(--Tag-Pink);
}

h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
}

h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
}

.card_desc {
    margin-top: 8px;
}

.menu_burger {
    display: none;
}


.CTA {
    background: url(images/bg-snow.png) center center/cover no-repeat,
    url(images/bg-forest.png) center center/cover no-repeat;
    padding: 180px 0 180px 0;
}

.CTA_title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing:  4px;
    text-transform: uppercase;
    color: white;
    max-width: 426px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.CTA .btn, .CTA .caption {
    margin-top: 20px;
}

.countdown {
    margin: 0 auto;
    margin-top: 8px;
    width: 344px;
    padding: 8px 12px 12px 12px;
    border-radius:20px;
    background-color: var(--Static-White-40);
    width: 344px;
    display: flex;
    align-items: center;
    color: var(--Static-White);
    border-radius: 20px;
}

.countdown_container {
    flex-basis: 1;
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown .number {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
    flex-basis: 1;
}

.countdown .container_name {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    flex-basis: 1;
}

.time_arrived {
    background-color: var(--Primary);
    color: var(--Static-White);
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    display: block;
}

.divider {
    height: 20px;
    width: 1px;
    background-color: var(--Static-White-40);
}


.gifts {
    background-color: white;
    padding: 60px 82px;
}

.gifts_items {
    display: flex;
    gap: 12px;
    max-width: 1276px;
    margin: 0 auto;
    justify-content: center;
}


.gift_item {
    flex-basis: 33%;
    background-color: var(--Content-Background);
    flex-direction: column;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: var(--Dark);
}

.gift_item img {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}

.gift_item a, .gift_item_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 12px;
    text-transform: uppercase;
}

.gift_invite {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    text-transform: uppercase;
}

.btn a {
    display: block;
}

footer {
    background-color: white;
    text-align: center;
    padding-bottom: 60px;
}

.footer_caption {
    color: var(--Dark);
    margin-top: 12px;
    display: block;
}


.socials {
    width: 196px;
    display: flex;
    margin: 0 auto;
    column-gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.socials a {
    width: 40px;
    height: 40px;
}

.socials a svg {
    fill: none;
}

.caption.hero_caption {
    margin-top: 12px;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}

.caption.footer_caption {
    color: var(--Dark);
}

@media (hover: hover) and (pointer: fine) {

    .gift_item a, .gift_item_text {
        transition: all 0.5s;
    }
    
    .gift_invite {
        margin-top: 12px;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 24.32px;
        letter-spacing: 0.08em;
        text-align: center;
        text-transform: uppercase;
    }

    .caption.footer_caption {
        transition: all 0.5s;
    }
    
    .gift_item {
        transition: all 0.5s;
    }
    
    .card_desc {
        transition: all 0.5s;
    }

    .socials a svg path {
        transition: all 0.5s;
    }

    .btn {
        transition: all 1s;
    }

    a.btn {
        transition: all 1s;
    }

    nav ul li a {
        transition: all 0.5s;
    }

    .slider_arrow {
        transition: all 0.5s;
    }


    .btn:hover  {
        background-color:white;
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    .btn:hover a {
        color: rgba(24, 28, 41, 1);
        transition: all 1s;
    }
    
    nav ul li a:hover {
        background-color: rgba(255, 70, 70, 0.1);
        color: rgba(255, 70, 70, 1);
        transition: all 0.5s;
    }
    
    .slider_arrow:hover {
        border-color: var(--Static-White-40);
        transition: all 0.5s;
        background-color: white;
    }
    
    .slider_arrow:hover svg path {
        stroke: var(--Primary);
        transition: all 0.5s;
      }

    .card:hover .card_desc {
        color: var(--Primary);
        transition: all 0.5s;
    }

    .gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
        color: var(--Primary);
        transition: all 0.5s;
    }
    
    .caption.footer_caption:hover {
        color: var(--Primary);
        transition: all 0.5s;
    }


    .socials a:hover svg path {
        stroke:  var(--Primary);
        transition: all 0.5s;
    }
}

@media (max-width: 1080px) {
    .gifts_items {
        flex-direction: column;
    }

    .gift_items {
        flex-basis: 100%;
    }

    .gifts {
        padding-inline: 1.04vw;
    }

}


@media (max-width: 998px) {
    .about,   .header , .slider, .best_gifts  {
      padding-inline: 1.04vw;
    }

    .slider, .best_gifts {
        padding-top: 60px;
    }
    .about_block_text {
        padding-inline: clamp(20px, 60px, 152px);
        padding-block: clamp(20px, 46px, 100px);
    }

  }


  @media (max-width: 768px) {

    .slider {
        padding-block: 8px;
    }

    .active .menu_divider:first-child {
        top: 50%;
        transform: rotate(45deg)  translate(0,50%);
        transition: all linear 200ms;
        margin-top: 2px;
        border: 1px;

    }

    .active .menu_divider:last-child {
        top: 50%;
        transform: rotate(-45deg)  translate(0, -50%);
        transition: all linear 200ms;
        margin-top: -1px;
        border: 1px;
    }

    body.overflow {
        overflow: hidden;
    }

    header {
        position: relative;
    }

    nav {
        position: fixed;
        right: 0;
        top: 55px;
        background-color: white;
        transition: all ease-out 0.4s;
        opacity: 1;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        align-items:center;
        justify-content: center;
        gap: 8px;
    }

    nav ul li a {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 36.48px;
        letter-spacing: 0.16em;
    }



    nav.hidden {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 55px;
        right: -100%;
        transition: all ease-out 0.4s;
        opacity: 1;
    }
    .about {
      padding-inline: 8px; 
    }

    header {
        padding-inline: 8px;
    }

    .slider_navigation {
        margin-top: 0;
    }

    .socials {
        margin-top: 5px;
    }

    .menu_burger {
        display: block;
        width: 40px;
        height: 40px;
        padding: 15px 10px;
        cursor: pointer;
    }

    .menu_divider {
        background-color: var(--Dark);
        width: 20px;
        height: 2px;
        transition: all linear 200ms;
    }

    .menu_divider:last-child {
        margin-top: 6px;
    }

  }


@media (max-width: 724px) {
    .about_block {
        flex-direction: column;
        flex-basis:100%;
    }

    .about_santa_img  img{
        display: block;
    }



}

@media (max-width: 380px) {


    .CTA_title {
        letter-spacing: 3.6px;
    }

    .about_block_text {
        padding-block: 0;
        padding-inline: 20px;
    }

    .about_santa_img {
        min-height: 528px;
        flex-basis: 100%;
        border-radius: 20px;
        background: url(images/santa.png) center center/cover no-repeat;
    }

    .about_santa_img img {
        display: none;
    }

    .about_block {
        border-radius: 20px;
    }

}