:root {
    --Primary: rgba(255, 70, 70, 1);
    --Dark: rgba(24, 28, 41, 1);
    --Static-White-40: rgba(255, 255, 255, 0.4);
    --Content-Background: rgba(236, 243, 248, 1);
    --Tag-Purple: rgba(67, 97, 255, 1);
    --Tag-Pink: rgba(255, 67, 247, 1);
    --Tag-Green: rgba(6, 164, 79, 1);
    --Static-White: rgba(255, 255, 255, 1);


  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

a {
    text-decoration: none;
    color:black;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.container {
    width: 1440px; 
    margin: 0 auto; 
}

main {
    background-color: rgba(255, 70, 70, 1);
    border-radius: 20px;
}

.hero {
    background: url(images/bg-snow.png) center center/cover no-repeat,
     url(images/bg-ball.png) center center/cover no-repeat;
     padding: 60px 0;
}

.hero_text {
    margin: 0 auto;
    padding: 60px 0;
    max-width: 426px;
}

h1 {
    font-family: Montserrat;
    font-size:32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 5.5px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    margin-top: 12px;
}

.caption {
    font-family: Allura;
    font-size: 24px;
    font-weight: 400;
    line-height:  100%;
    letter-spacing:  1.4px;
    color: white;
    text-align: center;
}

.btn {
    width: 235px;
    height: 56px;
    border-radius: 20px;
    opacity: 0px;
    background-color: rgba(24, 28, 41, 1);
    outline: none;
    border: none;
    color: white;
    margin: 0 auto;
    margin-top: 12px;
    display: block;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.5px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    text-transform: uppercase;
}

.btn a {
    color: white;
    transition: all 1s;
    display: block;
    padding: 20px 32px;
}


.btn:hover  {
    background-color:white;
    color: rgba(24, 28, 41, 1);
    transition: all 1s;
}

.btn:hover a {
    color: rgba(24, 28, 41, 1);
    transition: all 1s;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 82px;
}

nav {
    display: flex;
}

.logo_image {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    padding:8px 20px;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
}

.logo_slogan {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
}


nav ul li {
    list-style-type: none;
    flex-basis: 1;
}

nav ul li a {
    display: block;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height:  15.6px;
    letter-spacing:  5%;
    text-transform: uppercase;
    color: rgba(24, 28, 41, 1);
    transition: all 0.5s;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 12px;
}

nav ul li a:hover {
    background-color: rgba(255, 70, 70, 0.1);
    color: rgba(255, 70, 70, 1);
    transition: all 0.5s;
}

.about {
    padding: 60px 82px;
    background: url(images/bg-snow.png) center center/cover no-repeat;
}

.about_caption {
    color: var(--Primary);
    text-align: left;
}

.about_block {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.about_block_text {
    padding: 100px 0 100px 60px;
}

.about_block_text_content {
    max-width: 426px;
    padding: 60px 0;
}

.about_block_paragraph {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: left;
    margin-top: 20px;
    color: var(--Dark)
}

.about_h2 {
    margin-top: 20px;
    letter-spacing: 4px;
}

h2 {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing:  16%;
    text-transform: uppercase;
    color: var(--Dark)
}

.about_block img {
    border-radius: 20px;
}

.slider {
    padding: 60px 82px;
    overflow: hidden;
}
.slider_title {
    color: white;
    text-align: center;
    margin-top: 12px;
    letter-spacing: 4px;
}

.slider_item {
    flex-shrink: 0;

}

.slider_item img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.slider_carousel {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 20px;
    column-gap: 20px;
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
    align-items: center;
    color: white;
}

.slider_item_text {
    padding-bottom: 22px;
}


.slider_navigation {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.slider_arrow {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.5s;
}

.slider_arrow:hover {
    border-color: var(--Static-White-40);
    transition: all 0.5s;
    background-color: white;
}

.slider_arrow:hover svg path {
    stroke:  var(--Primary);
    transition: all 0.5s;
  }

  .slider-arrow:disabled {
    stroke: var(--Static-White-40);
  }


.best_gifts {
    padding: 60px 82px;
    background: url(images/bg-snow.png) center center/cover no-repeat;
}

.best_gifts_title {
    text-align: center;
    margin-top: 12px;
    color: white;
    letter-spacing: 4px;
}

.cards_container {
    display: flex;
    column-gap: 12px;
    margin-top: 20px;
}

.card {
    background-color:var(--Content-Background);
    width: 310px;
    height: 342px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    cursor: pointer;
    color: var(--Dark);
    text-transform: uppercase;
}

.card:hover .card_desc {
    color: var(--Primary);
    transition: all 0.5s;
}

.img_container {
    width: 310px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.img_container img {
    width: 310px;
    height: 230px;
}

.card_text {
    border-radius: 20px;
    background-color: white;
    flex-grow: 1;
    padding: 20px 0 0 20px;
}

.work {
    color: var(--Tag-Purple)
}

.health {
    color: var(--Tag-Green);
}

.harmony {
    color: var(--Tag-Pink);
}

h4 {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: left;
}

h3 {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: left;
}

.card_desc {
    margin-top: 8px;
    transition: all 0.5s;
}

.CTA {
    background: url(images/bg-snow.png) center center/cover no-repeat,
    url(images/bg-forest.png) center center/cover no-repeat;
    padding: 180px 0;
}

.CTA_title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height:  152%;
    letter-spacing:  4px;
    text-transform: uppercase;
    color: white;
    width: 426px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.CTA .btn, .CTA .caption {
    margin-top: 20px;
}

.countdown {
    margin: 0 auto;
    margin-top: 8px;
    width: 344px;
    padding: 8px 12px 12px 12px;
    border-radius:20px;
    background-color: var(--Static-White-40);
    width: 344px;
    display: flex;
    align-items: center;
    color: var(--Static-White);
    border-radius: 20px;
}

.countdown_container {
    flex-basis: 1;
    width: 80px;
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown .number {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    text-transform: uppercase;
    flex-basis: 1;
}

.countdown .container_name {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    line-height: 15.6px;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    flex-basis: 1;
}


.divider {
    height: 20px;
    width: 1px;
    background-color: var(--Static-White)
}

.gifts {
    padding: 60px 82px;
}

.gifts {
    background-color: white;
    padding: 60px 82px;
}

.gifts_items {
    display: flex;
    column-gap: 12px;
    max-width: 1276px;
}

.gift_item {
    background-color: var(--Content-Background);
    flex: 1;
    border-radius: 20px;
    text-align: center;
    padding: 20px 0;
    color: var(--Dark);
    transition: all 0.5s;
}

.gift_item:hover .gift_item_text, .gift_item:hover .gift_invite {
    color: var(--Primary);
    transition: all 0.5s;
}

.gift_item img {
    display: block;
    margin: 0 auto;
}

.gift_item a, .gift_item_text {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 36.48px;
    letter-spacing: 0.16em;
    text-align: center;
    margin-top: 12px;
    transition: all 0.5s;
    text-transform: uppercase;
}

.gift_invite {
    margin-top: 12px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    letter-spacing: 0.08em;
    text-align: center;
    transition: all 0.5s;
    text-transform: uppercase;
}

.btn a {
    display: block;
}

footer {
    background-color: white;
    text-align: center;
    padding-bottom: 60px;
}

.footer_caption {
    color: var(--Dark);
    margin-top: 12px;
    display: block;
}


.socials {
    width: 196px;
    display: flex;
    margin: 0 auto;
    column-gap: 12px;
    align-items: center;
    margin-top: 8px;
}

.socials a {
    width: 40px;
    height: 40px;
}

.caption.hero_caption {
    margin-top: 12px;
}

.copyright {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.68px;
    text-align: center;
}




